Repository hack4impact-calpoly/ecologistics-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{js,jsx,ts,tsx,css,md,json}": "prettier --write"
}

ci: fix status badge
  README.md
Due: prettier --write

ci: update VSCode ESLint settings
  .vscode/settings.json
Due: prettier --write

refactor: project structure and ts paths
  package-lock.json
  src/app/layout.tsx
  src/app/page.tsx
  src/components/navbar.tsx
  src/styles/example.css
  src/styles/globals.css
  tsconfig.json
Due: eslint --fix, prettier --write

chore: shadcn ui init
  components.json
  package-lock.json
  package.json
  src/lib/utils.ts
  src/styles/globals.css
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: setup tailwind and font
  package-lock.json
  package.json
  postcss.config.js
  src/app/layout.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: update metadata and fix page structure
  src/app/layout.tsx
  src/app/page.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/components/navbar.tsx
Due: eslint --fix, prettier --write

chore: add VSCode recommended extensions
  .vscode/extensions.json
Due: prettier --write

fix: db import
  src/app/api/example/route.ts
Due: eslint --fix, prettier --write

fix: remove carousel not building
  src/components/ui/carousel.tsx
Due: eslint --fix, prettier --write

chore: remove unused carousel package
  package-lock.json
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

feat: button first task
  src/app/page.tsx
  src/app/vi/page.tsx
Due: eslint --fix, prettier --write

feat: add button to homepage that links to new page with name
  src/app/kimlinh/page.tsx
  src/app/page.tsx
Due: eslint --fix, prettier --write

feat: added button and page with name
  src/app/namepage/page.tsx
Due: eslint --fix, prettier --write

feat: updated readme.md
  README.md
Due: prettier --write

docs: update readme
  README.md
Due: prettier --write

chore: set up env file
  .env.example
  .gitignore
Due: none

feat: added my custom page
  src/app/johnieng/page.tsx
Due: eslint --fix, prettier --write

feat: Added button to redirect to custom page
  src/app/page.tsx
Due: eslint --fix, prettier --write

fix: change button style in homepage to increase readability
  src/app/page.tsx
Due: eslint --fix, prettier --write

update readme
  README.md
Due: prettier --write

update readme linkedin link
  README.md
Due: prettier --write

feat: added new page and added button in home page that links to it
  src/app/ktaschek/page.tsx
  src/app/page.tsx
Due: eslint --fix, prettier --write

docs: updated readme with name and linkedin
  README.md
Due: prettier --write

feat: added new page, button, and a global css file to control all headings, etc.
  .env.example
  .gitignore
  src/app/dhanviganti/page.tsx
  src/app/page.tsx
  src/global.css
Due: eslint --fix, prettier --write

feat: Add button that routes to new page
  src/app/brandon/page.tsx
  src/app/page.tsx
Due: eslint --fix, prettier --write

docs: Add developer name and linkedin
  README.md
Due: prettier --write

feat: added button that routes to a new page
  src/app/button/page.tsx
  src/app/page.tsx
Due: eslint --fix, prettier --write

docs: Added name and linkedin to README
  README.md
Due: prettier --write

feat: add button with my name
  src/app/page.tsx
Due: eslint --fix, prettier --write

feat: add button with name page
  src/app/[name]/page.tsx
Due: eslint --fix, prettier --write

feat: add contact info to README.md
  README.md
Due: prettier --write

feat: edit dynamic page
  src/app/[name]/page.tsx
Due: eslint --fix, prettier --write

docs: update readme and env example
  .env.example
  .env.local.example
  README.md
Due: prettier --write

docs: fix readme
  README.md
Due: prettier --write

Added Organization Schema
  src/database/organizationSchema.ts
Due: eslint --fix, prettier --write

Modified origanizationSchema
  src/database/organizationSchema.ts
Due: eslint --fix, prettier --write

Added reimbursementSchema.ts
  src/database/organizationSchema.ts
  src/database/reimbursementSchema.ts
Due: eslint --fix, prettier --write
